body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF(0, 83%, 57%);
    color: rgba(33, 33, 33, 1);
    font-size: 14px;
    letter-spacing:0.03em;
}

:root {
    --var-color-text: #757575;
    --var-color-fondo-hover-focus: #2196F3;
    --var-colo-text-hover-focus: #FFFFFF;
    --var-color-fondo: #2F303A;
    --var-color-fondo1: #F5F4FA;
}

.container {
    width: 1200px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-header {
display: flex;
width: 1200px;
/* padding-left: 15px;
padding-right: 15px; */
margin-left: 15px;
margin-right: 15px;
margin: 0 auto;
}

.section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    /* background: #2196F3; */
}




/*  trabajamos en el header */
/* en esta posicion trabajo el logo de la pagina*/
.header  {
    display: flex;
    background: #FFFFFF;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
      
}

.head {
    display: flex;
    padding-left: 15px;

}
.link-web  {
    text-decoration: none;
    margin: auto;
 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15em;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}



/*trabajo lista de navegacion*/
.link-nav {
    display: flex;
     list-style: none;
     margin:auto;
}

.link-nav a {
    text-decoration: none;
    font-style: normal;
    color: var(--var-color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7142em;
    letter-spacing: 0.02em;
    margin:auto;
    margin-right: 50px; 
}

.current {
    color:var(--var-color-fondo-hover-focus); 
}

.link-nav a:hover,
.link-nav a:focus,
.link-nav a:active {
    color: var(--var-color-fondo-hover-focus);
}

/*trabaje la lista de contactos*/


.contact {
    display: flex;
    list-style: none;
    margin:auto;
    padding: 0px;
    padding-left: 290px;
}

.contact a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7142em;
    letter-spacing: 0.02em;
    color: var(--var-color-text);
    margin-right: 50px;
    padding: 0px;
}

.contact a:hover,
.contact a:focus {
    color: var(--var-color-fondo-hover-focus);
}
/*ya esta listo el header, vamos con el main*/

main {
    background: var(--var-colo-text-hover-focus);
    ;
}

main li {
    list-style: none;
}



/*Trabajo en la seccion principal*/

.tittle{
    display: flex;
    align-items: center;
    background-color: var(--var-color-fondo);
    filter:drop-shadow(0px 4px 4px  rgba(47, 48, 58, 1));
    margin: auto;
    height: 600px;
    
    /* padding-bottom: 94px*/
    /*padding-top: 94px*/
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
    /* background: #2196F3; */
}

.title {
    width: 696px;
    display: block;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363em;
    /* or 136% */

    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color:  rgba(255, 255, 255, 1);
    ;

}

/* Trabajo centrar boton principall */
.button {
    /* Centrar boton */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #2196F3;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;

/* Le damos estilo a las letras  */
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--brand-color);
    }
    
.button:hover,
.button:focus,
.button:active{
    background: var(--var-color-fondo-hover-focus);
    color: var(--var-colo-text-hover-focus);
}

.details-principal{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
    gap: 30px;
}



.principal-tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--var-color-title);
}

.principal-text {
    width: 270px;
    margin: auto;
    font-size: 14px;
    line-height: 1.71em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--var-color-text);
}

.tittle-principal{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1.428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--var-color-title);
}

/* Aplicamos hover para los titulos */
.tittle:hover,
.principal-tittle:hover,
.principal-tittle:hover,
.principal-text:hover,
.principal-text:active,
.tittle-prin-equip:hover,
.tittle-principal:hover,
.text-principal:hover,
.portfolio-tittle:hover,
.portfolio-text:hover {
    text-decoration: underline var(--var-color-fondo-hover-focus) 1px;
}

.text-principal{
    margin: auto;
    font-size: 14px;
    text-align: center;
    line-height: 1.71em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--var-color-text);
}

/* Centramos las imagenes en la pagina principal */
.cont-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Trabajamos en los titulos del cuerpo h2 */
.tittle-img-prin {
    margin: auto;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--var-color-title);
}

.list-img {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.images-deta1 {
    width: 373.16px;
    height: 323.7px;
    margin-left: 30.26px;
    margin-right: 23.42px;
}

.images-details {
    width: 373.16px;
    height: 323.7px;
}

.image-prin-details {
    width: 373.16px;
    height: 323.7px;
}

.image-prin-details:hover,
.image-prin-equip:hover {
    border: 2px solid var(--var-color-fondo-hover-focus);
    border-radius: 2px;
}


/* Trabajo en la section de nuestro equipo */

.equipment {
    display: flex;
    flex-wrap: wrap;
    background: var(--var-color-fondo1);
    padding-top: 94px;
} 

/* Trabajamos en los titulos del cuerpo h2 */
.tittle-prin-equip {
    margin: auto;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--var-color-title);
}

.list-equip{
    display: flex;
    margin: auto;
    padding: 0px
}

.conten-img-equip {
    background: #FFFFFF;
    margin-right: 30px;
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.conten-img-equip1 {
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.imag-prin-equip {
    width: 270px;
    height: 260px;
}


.link-portafolio {
    text-decoration: none;
}

.body-portafolio {
    margin: 0 auto;
    padding: 0px;
}
/* Trabajo en la sección del boton pagina Portafolio */
.cont-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px;
    padding-bottom: 50px;
}

.botton1{
    width: 73px;
    height: 38px;
    margin-right: 9px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--var-colo-text-hover-focus);
    border: 2px solid var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    Background: var(--var-color-fondo-hover-focus);
}

.botton {
    width: 145px;
    height: 38px;
    margin-right: 9px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    border: 2px solid var(--brand-color);
    border-radius: 4px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
}
.botton:hover,
.botton:focus,
.botton:active,
.botton:hover,
.botton:focus,
.botton:active {
    cursor: pointer;
    background: var(--var-color-fondo-hover-focus);
    color: var(--var-colo-text-hover-focus);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cont-img-portafolio {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    border-bottom: 3px solid #EEEEEE;
}

.cont-img-portafolio1 {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    border-bottom: 3px solid #EEEEEE;
}
.cont-img-portafolio2 {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    border: 1px solid #EEEEEE;
    border-bottom: 3px solid #EEEEEE;
}
.cont-img-portafolio3 {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    border-bottom: 3px solid #EEEEEE;
}

.cont-img-portafolio:hover,
.cont-img-portafolio1:hover,
.cont-img-portafolio2:hover,
.cont-img-portafolio3:hover {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-por {
    width: 370px;
    height: 294px;
    padding-right: 1px;
}

/* Trabajamos en los titulos del cuerpo h3 */
.portfolio-tittle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    color: #212121;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    margin-left: 24px;
}


.portfolio-text {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--var-color-text);
}
/* En esta posición trabajamos en el footer */

footer {
    min-width: 250;
    /* height: 252px; */
    padding-left: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--var-color-fondo);
}

.link-web {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15em;
    color: #2196F3;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.link-footer {
    list-style: none;
    font-style: normal;
    padding: 0%;
    width: 231px;
    height: 92px;
}

.link-footer a:hover,
.link-footer a:focus {
    color: var(--var-color-fondo-hover-focus);
}

.link-footer a {
    text-decoration: none;
    font-style: normal;

}

.link-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link-con {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142em;
    ;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}